meta(charset = "UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" width="1230" content="width=device-width, initial-scale=1")
title
	| New-project
<!-- SEO -->
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="Anton Cherkasov")
<!-- favicon.info -->
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(rel="icon" href="/favicon.ico" type="image/x-icon")
<!-- CSS -->
link(rel="stylesheet", href="css/libs.min.css")
link(rel="stylesheet", href="libs/normalize-css/normalize.css")
link(rel="stylesheet", href="css/main.css")
link(rel="stylesheet", href="css/fonts.css")
